<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-md-8 col-lg-8 col-xxxl-6">
            <h2>Send Email</h2>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="emailform">
          <div class="row">
            <div class="col-md-6">
              <!-- <div class="form-group">
                <label class="label col-form-label">Name *</label>

                <input
                  type="input"
                  nbInput
                  fullWidth
                  formControlName="name"
                  style="color: #000000"
                  placeholder="Please enter name"
                />
                <div
                  *ngIf="(f.name.touched || f.name.dirty) && f.name.invalid"
                  class="invalid-feedback-frm"
                >
                  <div *ngIf="f.name.errors && f.name.errors.required">
                    Name is required.
                  </div>
                  <div *ngIf="f.name.errors.minlength">
                    Name at least 3 characters long.
                  </div>
                  <div *ngIf="f.name.errors.maxlength">
                    Name at least 100 characters long.
                  </div>
                  <div *ngIf="f.name.errors.pattern">
                    Please enter valid name.
                  </div>
                </div>
              </div> -->


          
                     <label class="label col-form-label">Name *</label>
                    <select class="custom-select  "   style="color: #000000"
                        formControlName="name" >
                        
                        <option *ngFor="let item of getEmail" [value]="item.emailAccountName">
                            {{ item.emailAccountName }}
                        </option>
                    </select>
                    <div
                  *ngIf="(f.name.touched || f.name.dirty) && f.name.invalid"
                  class="invalid-feedback-frm"
                >
                  <div *ngIf="f.name.errors && f.name.errors.required">
                    Name is required.
                  </div>
                   
                  <div *ngIf="f.name.errors.pattern">
                    Please enter valid name.
                  </div>
                </div>
             
     



            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="label col-form-label"> Email * </label>

                <input
                  type="input"
                  nbInput
                  fullWidth
                  formControlName="address"
                  style="color: #000000"
                  placeholder="Please enter email"
                />
                <div
                  *ngIf="
                    (f.address.touched || f.address.dirty) && f.address.invalid
                  "
                  class="invalid-feedback-frm"
                >
                  <div *ngIf="f.address.errors && f.address.errors.required">
                    Email is required.
                  </div>
                  <div *ngIf="f.address.errors.pattern">
                    Please enter valid email .
                  </div>
                </div>


              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="label col-form-label">CC </label>

                <input
                  type="input"
                  nbInput
                  fullWidth
                  formControlName="cc"
                  style="color: #000000"
                  placeholder="Please enter cc"
                />
                <div
                  *ngIf="
                    (f.cc.touched || f.cc.dirty) && f.cc.invalid
                  "
                  class="invalid-feedback-frm"
                >
                  <div *ngIf="f.cc.errors && f.cc.errors.required">
                    Email is required.
                  </div>
                  <div *ngIf="f.cc.errors.pattern">
                    Please enter valid email .
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="label col-form-label"> Bcc </label>

                <input
                  type="input"
                  nbInput
                  fullWidth
                  formControlName="bcc"
                  style="color: #000000"
                  placeholder="Please enter bcc"
                />

                <div
                  *ngIf="
                    (f.bcc.touched || f.bcc.dirty) && f.bcc.invalid
                  "
                  class="invalid-feedback-frm"
                >
                  <div *ngIf="f.bcc.errors && f.bcc.errors.required">
                    Email is required.
                  </div>
                  <div *ngIf="f.bcc.errors.pattern">
                    Please enter valid email .
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="label col-form-label">Subject </label>

                <input
                  type="input"
                  nbInput
                  fullWidth
                  formControlName="subject"
                  style="color: #000000"
                  placeholder="Please enter subject"
                />
              </div>
            </div>
          </div>


           <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                <label class="label">Please Upload File</label>
                <br>
                <label class="upload-button">
                  <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)"
                    [uploadInput]="uploadInput" multiple />
                </label>
                </div>
                 <div *ngIf="fileSize" class="invalid-feedback-frm">
                  You cannot upload empty file.
                </div>
            
            </div>
          </div>




          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="label col-form-label"
                  >Please write something
                </label>

                <ckeditor
                  formControlName="body"
                  name="myckeditor"
                  required
                  placeholder="Please enter email"
                  [config]="ckeConfig"
                  debounce="500"
                  (paste)="onPaste($event)"
                  (change)="onChange($event)"
                >
                </ckeditor>
              </div>
            </div>
          </div>
          <!-- [disabled]="submitted || !emailform.valid" -->
          <div class="row rowPadTOp">
            <div class="col-md-12 col-lg-12 col-xxxl-6">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="submitted || !emailform.valid"
                status="primary"
                (click)="onSubmit()"
              >
                Save
              </button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
