<nb-card>
    <nb-card-header>
        <div class="titleHeader">
            <div class="titleLeft">
                <div class="LeftBgText">
                    <h2>View Security Fencing Rule</h2>
                </div>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="ruleForm" autocomplete="off">
            <div class="row rowPadding">
                <div class="col-md-6 col-lg-6 col-xxxl-6">
                    <label for="usage" class="label">Usage *</label>
                    <select class="custom-select" formControlName="usage" placeholder="Please choose usage">
                        <option value="" disabled="true" selected>
                            Please choose usage
                        </option>
                        <option *ngFor="let item of usage" [value]="item.name">
                            {{ item.name }}
                        </option>
                    </select>
                </div>
                <div class="col-md-6 col-lg-6 col-xxxl-6">
                    <label for="rule" class="label">Rule Type *</label>
                    <select class="custom-select" formControlName="rule" placeholder="Please choose rule type">
                        <option value="" disabled="true" selected>
                            Please choose rule type
                        </option>
                        <option *ngFor="let item of rule" [value]="item.name">
                            {{ item.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div *ngIf="ruleForm && (ruleForm.value.rule === 'IPv4' || ruleForm.value.rule === 'IPv6')  ">
                <div class="row rowPadding">
                    <div class="col-md-12 col-lg-12 col-xxxl-12">
                        <label for="rule" class="label">IP Address *</label>
                        <input type="input" nbInput fullWidth id="ipAddress" formControlName="ipAddress"
                            placeholder="Please enter ip address" trim="blur" />

                    </div>
                </div>
            </div>
            <div *ngIf="ruleForm && (ruleForm.value.rule === 'IPv4Range' || ruleForm.value.rule === 'IPv6Range')  ">
                <div class="row rowPadding">
                    <div class="col-md-12 col-lg-12 col-xxxl-12">
                        <label for="rule" class="label">IP Range *</label>
                        <input type="input" nbInput fullWidth id="ipRange" formControlName="ipRange"
                            placeholder="Please enter iprange" trim="blur" />

                    </div>
                </div>
            </div>
            <div *ngIf="ruleForm && ruleForm.value.rule === 'HTTP Header'">
                <div class="row rowPadding">
                    <div class="col-md-6 col-lg-6 col-xxxl-6">
                        <label for="HTTP Header" class="label">HTTP Header</label>
                        <input type="input" nbInput fullWidth id="HTTP Header" formControlName="headerName"
                            placeholder="Please enter HTTP Header" ngxSpecialChar trim="blur" />
                    </div>
                    <div class="col-md-6 col-lg-6 col-xxxl-6">
                        <label for="headerValue" class="label">Value</label>
                        <input type="input" nbInput fullWidth id="headerValue" formControlName="headerValue"
                            placeholder="Please enter value" ngxSpecialChar trim="blur" />
                    </div>
                </div>
            </div>
            <br>
            <div class="row rowPadding">
                <div class="col-md-6 col-lg-6 col-xxxl-6">
                    <label for="createdOn" class="label">Created On</label>
                    <input type="input" nbInput fullWidth id="createdOn" formControlName="createdOn"
                        placeholder="Please enter value" ngxSpecialChar trim="blur" />
                </div>
                <div class="col-md-6 col-lg-6 col-xxxl-6">
                    <label for="createdBy" class="label">Created By</label>
                    <input type="input" nbInput fullWidth id="createdBy" formControlName="createdBy"
                        placeholder="Please enter value" ngxSpecialChar trim="blur" />
                </div>
            </div>
            <div class="row rowPadding">
                <div class="col-md-6 col-lg-6 col-xxxl-6">
                    <label for="updatedOn" class="label">Updated On</label>
                    <input type="input" nbInput fullWidth id="updatedOn" formControlName="updatedOn"
                        placeholder="Please enter value" ngxSpecialChar trim="blur" />
                </div>
                <div class="col-md-6 col-lg-6 col-xxxl-6">
                    <label for="updatedBy" class="label">Updated By</label>
                    <input type="input" nbInput fullWidth id="updatedBy" formControlName="updatedBy"
                        placeholder="Please enter value" ngxSpecialChar trim="blur" />
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>