<nb-card>
  <nb-card-header>
    <div class="titleHeader">
      <div class="titleLeft">
        <div class="LeftBgIcon">
          <img class="img-head-logo" src="../../../../assets/icons/config.svg" />
        </div>
        <div class="LeftBgText">
          <h2>All Configuration Values</h2>
          <p>All configuration values of the server.</p>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">
            Name
            <i (click)="onSortClick($event, 'name')" [attr.class]="showallconfigValue | chevron: page.totalCount"></i>
          </th>
          <th scope="col">
            Configuration Value
            <i (click)="onSortClick($event, 'value')" [attr.class]="showallconfigValue | chevron: page.totalCount"></i>
          </th>

          <th scope="col">View</th>
          <th scope="col">Edit</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
            let config of showallconfigValue
              | paginate
                : {
                    id: '1',
                    itemsPerPage: page.pageSize,
                    currentPage: page.pageNumber,
                    totalItems: page.totalCount
                  };
            trackBy: trackByFn
          ">
          <td scope="row" *ngIf="config.name != null">
            <ngx-tooltip [data]="config?.name" [size]="50"> </ngx-tooltip>
          </td>
          <td scope="row" *ngIf="config.name == null">No Name</td>
          <td scope="row">
            <ngx-tooltip [data]="config?.value" [size]="50"> </ngx-tooltip>
          </td>

          <td>
            <a (click)="gotodetail(config.id)">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </a>
          </td>
          <td>
            <a (click)="gotoedit(config.id)">
              <i class="fa fa-edit"> </i>
            </a>
          </td>

        </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-body class="noTopPadding">
    <div class="row pagerow">
      <div class="col-md-8 col-lg-8 no-left-padding">
        <pagination-controls id="1" class="paginateDiv" previousLabel="Prev" nextLabel="Next" responsive="true"
          (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)" directionLinks="true"
          autoHide="true" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page"></pagination-controls>
      </div>
      <div class="col-md-4 col-lg-4 text-right no-right-padding" *ngIf="get_perPage">
        <label class="label">Total {{ showpage.totalCount }} /</label>

        <select class="custom-select per-page-drop" (change)="per_page($event.target.value)">
          <option *ngFor="let item of itemsPerPage" [value]="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>
  </nb-card-body>
</nb-card>