<div class="row">
    <div class="col-md-12">
        <nb-card> 
            <nb-card-header>
                
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-xxxl-6">
                      <h2>Integration Event Log
 </h2>
                    </div>
          
                  
                  </div>
               </nb-card-header>
            <nb-card-body>
               
                <form [formGroup]="systemEventform">
                  <div class="row">
                        <div class="col-md-6" >
                            <div class="form-group ">
                                <label class="label  col-form-label">Entity </label>
                                <input type="input" nbInput fullWidth formControlName="entityType"
                                    style="color:#000000">
                            </div>
                        </div>
                        <div class="col-md-6"  >
                            <div class="form-group ">
                                <label class="label  col-form-label">ID </label>

                                <input type="input" nbInput fullWidth formControlName="id" style="color:#000000">
                                
                            </div>
                        </div>
                       
                            
                         
                    </div>

                    <div class="row">
                        <div class="col-md-6"  >
                            <div class="form-group ">
                                <label class="label  col-form-label">Event </label>

                                <input type="input" nbInput fullWidth formControlName="integrationEventName" style="color:#000000">
                                
                            </div>
                        </div>
                          <div class="col-md-6"  >
                            <div class="form-group ">
                                <label class="label  col-form-label">Occurred On </label>

                                <input type="input" nbInput fullWidth formControlName="occuredOnUTC" style="color:#000000">
                                
                            </div>
                        </div>
                        
                    </div>


                     <div class="row">
                        <div class="col-md-6"  >
                            <div class="form-group ">
                                <label class="label  col-form-label">Message </label>

                                <input type="input" nbInput fullWidth formControlName="message" style="color:#000000">
                                
                            </div>
                        </div>
                          <div class="col-md-6"  >
                            <div class="form-group ">
                                <label class="label  col-form-label">Status  </label>

                                <input type="input" nbInput fullWidth formControlName="status" style="color:#000000">
                                
                            </div>
                        </div>
                        
                    </div>

                   <!-- <div class="row">
                        <div class="col-md-6"   >
                            <div class="form-group ">
                                <label class="label  col-form-label">Payload</label>
                                
                                    <input type="input" nbInput fullWidth formControlName="payloadJSON" style="color:#000000">

                            </div>
                        </div>
                       
                    </div> -->
                    <div class="row">
                        <div class="col-md-12" *ngIf="showpayloadSchemaJson" >
                            <div class="form-group ">
                                <label class="label  col-form-label">Payload JSON Schema</label>
                                <p class="p-text">
                                    <ngx-json-viewer [json]="payloadJSON" [expanded]="false"></ngx-json-viewer>
                                </p>

                            </div>
                        </div>
                       
                    </div>
                </form>

<hr *ngIf="showAttempt == true">
                 <table class="table table-bordered"  *ngIf="showAttempt == true"  >
      <thead>
        <tr>
          <th scope="col">
            Name
            <!-- <i (click)="onSortClick($event, 'integrationEventName')" class="my-icon fa fa-chevron-up"></i> -->
          </th>

          <th scope="col">
           Transport
            <!-- <i (click)="onSortClick($event, 'lastReportedOn')" class="my-icon fa fa-chevron-up"></i> -->
          </th>
          <th scope="col">
            Attempt
            <!-- <i (click)="onSortClick($event, 'lastReportedStatus')" class="my-icon fa fa-chevron-up"></i> -->
          </th>
          <th scope="col">
          Attempt On
            <!-- <i (click)="onSortClick($event, 'lastReportedWork')" class="my-icon fa fa-chevron-up"></i> -->
          </th>
   
           <th scope="col">
                Status
            <!-- <i (click)="onSortClick($event, 'isHealthy')" class="my-icon fa fa-chevron-up"></i> -->
          </th>
 
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
            let agent of showallpayload
               ">
          <td scope="row"  >
            <ngx-tooltip [data]="agent?.integrationEventName" [size]="40"> </ngx-tooltip>
          </td>
          
          <td scope="row">
            <ngx-tooltip [data]="agent?.transportType " [size]="40">
            </ngx-tooltip>
          </td>
            <td scope="row">
            <ngx-tooltip [data]="agent?.attemptCounter" [size]="40">
            </ngx-tooltip>
          </td>
            <td scope="row">
            <ngx-tooltip [data]="agent?.createdOn | timeDate: 'lll'" [size]="40">
            </ngx-tooltip>
          </td>
          
          <td scope="row">
            <ngx-tooltip [data]="agent?.status" [size]="40">
            </ngx-tooltip>
          </td>
          
           
           
        </tr>
      </tbody>
    </table>
            </nb-card-body>
        </nb-card>
    </div>
</div>