<div class="container body">
  <div class="row" style="
    margin-top: 55px;
">
    <div class="col-md-6 col-lg-6">
      <div class="whiteBk">
        <img src="../../assets/images/OBServer_logo.png" class="loginLogo" alt="OpenBots Server Logo" />
        <div class="loginFormInner">
          <h1>You cannot use Openbots server offline. Please Check your internet </h1>
           
   <!-- <div>

    <p style.color = "{{ isConnectionAvailable  ? 'green' : 'red'}}"> {{ isConnectionAvailable  ? 'Online' : 'Offline'}} </p>  

    <div id="blackout" class="noselect" style.display = "{{isConnectionAvailable ? 'none' : 'block'}}">
        <br><br><br><br><br>
        <p>No Internet connection!</p>
        <br>
    </div>

</div> -->

             

          <!-- <button type="button" class="btn btn-primary">GO to OpenBots Server</button> -->
            
    
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6">
      <img class="imgMaxWidth" src="../../assets/images/login-bk.png" alt="Login" />
    </div>
  </div>
  <div class="col-md-12 col-lg-12 footerPnl">
    <p>
      © Copyright 2021 | OpenBots Server | Version 1.0 |
      <a href="/healthcheck-ui" target="_blank">Health</a> |
      <a href="https://openbots.ai/">www.openbots.ai</a>
    </p>
  </div>
</div>